.header {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.45);
  width: 100vw;
}

.header-section {
  width: 30%;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 4.5em;
  object-fit: contian;
}

.header-instagram {
  font-size: 2.1rem;
  background: -webkit-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
